.fonts{
	font-family:arial;
}
#gotham
{
	font-family:"Georgia","Courier New";
	font-weight:bold;
	font-size:60px;
	color:black;
	opacity:0.8;
}
#motto
{
	font-size:20px;
}
.form-headtext
{
	font-family: Georgia;
	font-weight: bold;
	color:white;
}